.product-details {
  display: flex;
  max-width: 800px; /* רוחב טוב */
  margin: 50px auto;
  padding: 20px;
  background-color: #fff; /* רקע לבן */
  border: 2px solid #42a5f5; /* צבע תכלת בהיר */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details .text-container {
  flex: 1;
  padding: 20px;
  text-align: right;
  direction: rtl;
}

.product-details h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.product-details img {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-left: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.product-details p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
}

.product-details p span {
  font-weight: bold;
  color: #333;
}

.product-details .price {
  font-size: 1.5rem;
  color: #000; /* מחיר בצבע שחור */
  font-weight: bold;
  margin-top: 20px;
}

.product-details .back-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #000; /* כפתור בצבע שחור */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-details .back-button:hover {
  background-color: #e07b00; /* צבע כתום בהיר בהובר */
  color: black; /* טקסט שחור על הרקע הכתום */
}
