
.popup {
  position: fixed; /* כדי לקבע את הפופ-אפ במקום מסוים בעמוד */
  top: 10%; /* מרחק מלמעלה */
  right: 10px; /* מרחק מצד ימין */
  width: 300px; /* רוחב הפופ-אפ */
  height: 50px; /* גובה הפופ-אפ */
  padding: 20px; /* מרווח פנימי */
  background: #f8f9fa; /* צבע רקע עדין */
  border: 2px solid #007bff; /* מסגרת כחולה */
  border-radius: 10px; /* פינות מעוגלות */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל */
  z-index: 1000; /* כדי להבטיח שהפופ-אפ מעל הכל */
  overflow-y: auto; /* מאפשר גלילה אם התוכן ארוך מדי */
}

.popup-close {
  position: absolute; /* מיקום יחסי למסגרת */
  top: 10px; /* מרחק מלמעלה */
  right: 10px; /* מרחק מצד ימין */
  background: none; /* אין רקע לכפתור */
  border: none; /* ללא מסגרת */
  font-size: 20px; /* גודל טקסט */
  cursor: pointer; /* סימון של יד בעת מעבר על הכפתור */
  color: #007bff; /* צבע כחול */
  font-weight: bold; /* טקסט מודגש */
  transition: color 0.3s; /* אפקט מעבר בצבע */
}

.popup-close:hover {
  color: #0056b3; /* צבע כהה יותר בהובר */
}



/* פוטר */
.footer {
  background-color: rgba(30, 30, 30, 0.8); /* שקיפות */
  color: #f1f1f1;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
